/* You can add global styles to this file, and also import other style files */
@import 'https://fonts.googleapis.com/css2?family=Roboto&display=swap';
@import 'typography/functions';
@import 'typography/variables';
@import 'typography/mixins';

// Basic CSS
body {
    font-family: Roboto, sans-serif;
    padding: torem(40);
    margin: 0;
}

* {
    box-sizing: border-box;
}

.sr-only {
    position: absolute;
    width: torem(1);
    height: torem(1);
    padding: 0;
    margin: torem(-1);
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
