/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

@import 'typography/functions.scss';
@import 'typography/variables.scss';
@import 'typography/mixins.scss';

// Basic CSS
body {
    font-family: 'Roboto', sans-serif;;
    padding: toRem(40);
    margin: 0;
}

* {
    box-sizing: border-box;
}

.sr-only {
    position: absolute;
    width: toRem(1);
    height: toRem(1);
    padding: 0;
    margin: toRem(-1);
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}
